<%= javascript_pack_tag "users_index" %>
<%= render "shared/header" %>

<main role="main">

  <div class="container">
      <h1>Listing Users</h1>
      <div class="row">
        <div class="col-md-12 text-right">
          <%= link_to new_user_path, class: "btn btn-primary", autofocus: true do %>
            <i class="fas fa-plus"></i> New User
          <% end %>
          <button class="btn btn-secondary <%= params[:name] ? "" : "collapsed" %>" type="button" data-toggle="collapse" data-target="#searchForm" aria-expanded="false" aria-controls="searchForm" alt="Search Form">
            <i class="fas fa-search"></i>
          </button>
          <%= render 'shared/back_button', link: root_path %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="<%= params[:name] ? "show" : "collapse" %> mt-1 shadow-sm" id="searchForm">
            <div class="card card-body">

              <%= form_with url: users_path, local: true, method: :get do %>

                <div class="form-group row">
                  <%= label_tag :name, "Name", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-3">
                    <%= text_field_tag :name, params[:name], class: "form-control" %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= label_tag :email, "Email", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-3">
                    <%= text_field_tag :email, params[:email], class: "form-control" %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= label_tag :gender, "Gender", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-3">
                    <%= select_tag(:gender, options_for_select( [['--Please select--', nil], ['Female', 'F'], ['Male', 'M'], ['Other', 'O']], params[:gender]),{ :class => "form-control" } ) %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= label_tag :begin_date, "Birth date start", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-3">
                    <%= date_field_tag :begin_date, params[:begin_date], class: "form-control" %>
                  </div>
                  <%= label_tag :end_date, "Birth date end", class: "col-sm-2 col-form-label" %>
                  <div class="col-sm-3">
                    <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 text-right">
                      <%= button_tag name: nil, type: "submit", class: "btn btn-primary" do %>
                        <i class="fas fa-search"></i> Search
                      <% end %>
                      <a href="<%= users_path %>" class="btn btn-secondary"><i class="fas fa-times"></i> Clear</a>
                    </div>
                </div>

              <% end %>

            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="border-top-0" col="id">ID</th>
              <th scope="col" class="border-top-0" col="name">Name</th>
              <th scope="col" class="border-top-0" col="email">E-mail</th>
              <th scope="col" class="border-top-0" col="birth_date">Birth Date</th>
              <th scope="col" class="border-top-0" col="gender">Gender</th>
              <th scope="col" class="border-top-0" col="act1"></th>
              <th scope="col" class="border-top-0" col="act2"></th>
            </tr>
          </thead>
          <tbody>
            <% if @users.any? == false %>
              <tr><td>No Users</td></tr>
            <% end %>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.birth_date %></td>
                <td><%= user.gender %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
            </tbody>
          </table>

      </div>
  </div>

</main>
